.idea
*.iml
*.class
.gradle/
.project
.settings
.classpath
build.xml
build/
classes/
dev/
gen/
jni/
local.properties
app/res/values/com_crashlytics_export_strings.xml
app/src/main/java/com/parallels/access/utils/PrlErrorsValues.java
app/src/main/java/com/parallels/access/utils/PrlCurrentLocale.java
app/src/main/java/com/parallels/access/utils/PrlCurrent.java
app/src/main/java/com/parallels/access/utils/protobuffers/
target/
app/build.xml
app/build/
app/classes/
app/gen/
app/src/main/jniLibs/
app/target/
app/local.properties
libraries/*/build.xml
libraries/*/build/
libraries/*/classes/
libraries/*/gen/
libraries/*/target/
libraries/*/local.properties